.Header {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(33, 33, 33, 1) 33%
  );
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(15px + 2vmin);
  padding: 0px 50px;
}

.Header-logo {
  font-weight: 600;
  padding: 10px;
}

.Header-logo-No {
  color: #0049ff;
}

.Header-logo-se-A {
  color: #ea00a2;
}

.Header-logo-ge {
  color: #ffd400;
}

.Header-nav {
  color: white;
  font-size: calc(8px + 1vmin);
}

@media (max-width: 959px) {
  .Header {
    padding: 0 5%;
  }
}
